// COLORS

$black: #22262a;
$white: #fff;

$light-gray: #f5f3ff;
$gray: #777777;
$dark-gray: #2d4642;

$light-pink: #d893d1;
$light-red:  #ff7b7b; //remove-item-icon
$light-red-1:  #fdecec; //remove-item-icon bg-color

$dark-purple: #a7a5af;
$dark-purple-2: #583564;
$light-purple: #bdb1ee;
$purple: #9b8add;

$dark-blue: #3d4b75;
$dark-blue-2: #223263;
$light-blue: #f5f3ff;

$yellow-star: #ffc600;
$gray-star: #cccccc;

$footer-bg: #e2dbff;

$price-cross: rgba(#0d0d0d, 33%);
