// COLORS

$black: #22262a;
$white: #fff;

$gray: #777777;
$dark-gray: #2d4642;

$light-pink: #d893d1;

$dark-purple: #9b8add;
$dark-purple-2: #583564;
$light-purple: #bdb1ee;

$dark-blue: #3d4b75;
$dark-blue-2: #223263;
$light-blue: #f5f3ff;

$yellow-star: #ffc600;
$gray-star: #cccccc;

$footer-bg: #e2dbff;

$price-cross: rgba(#0d0d0d, 33%);
