// COLORS

$black: #22262a;
$white: #fff;

$light-gray: #f5f3ff;
$gray: #777777;
$dark-gray: #2d4642;

$light-pink: #d893d1;

$dark-purple: #a7a5af;
$dark-purple-2: #583564;
$light-purple: #bdb1ee;
$purple: #9B8ADD;

$dark-blue: #3d4b75;
$dark-blue-2: #223263;
$light-blue: #f5f3ff;

$yellow-star: #ffc600;
$gray-star: #cccccc;

$footer-bg: #e2dbff;

$price-cross: rgba(#0d0d0d, 33%);

// HOMEPAGE VARIABLES
$px5ToRem: 0.3125rem;
$px7ToRem: 0.4375rem;
$px10ToRem: 0.625rem;
$px20ToRem: 1.25rem;
$bestSellerItemHeight: 16.4375;
