@import "../abstracts/variables";
@import "../abstracts/mixins";

.footer {
  @include paddingTopBottom;
  min-height: 70vh;
  background: #dcd8f3c4;
  line-height: 1.8;
  @include respond(tablet){
    min-height: 40vh;
  }
  @include respond(desktop){
    min-height: 40vh;
  }
  p {
    color: gray;
    font-size: 1.7rem;
  }
  h2 {
    font-size: 2rem;
    color: $dark-blue;
  }
}

.footer__list {
  @include flexMixin(space-evenly, null, column);
  width: 70%;
  min-height: 70vh;
  margin: auto;
  @include respond(tablet){
    display: grid;
    grid-template-columns: repeat(2, auto);
    min-height: 40vh;
  }
  @include respond(desktop){
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 40vh;
  }

  &__item__brand {
    @include flexMixin;
    h2 {
      padding: $px5ToRem;
    }
  }

  &__item {
    @include paddingTopBottom($px10ToRem, $px10ToRem);
    @include respond(tablet){
      padding: 2rem 4rem;
    }
    @include respond(desktop){
      max-width: 33.3%;
      padding: 6rem;
    }
  }
}

.footer__list li:nth-child(1){
  @include respond(tablet){
    grid-row: 1 / span 2;
  }
}

.social-icon--reduce-size {
  @include widthHeight(75px, 30px);
  margin-top: $px10ToRem;
}

.fab {
  font-size: 3rem;
}
.fa-facebook-f {
  color: #583564;
  margin-left: 10px;
}

.fa-twitter {
  color: #b1a2f0;
}
