@import "../abstracts/variables";
@import "../abstracts/mixins";

.header__wrapper {
    @include flexMixin(space-between, null, column);
    position: fixed;
    top: 0;
    min-width: 290px;
    width: 100%;
    background: $light-gray;
    z-index: 9999999;
    border-bottom: 1px solid #d0d0d3a4;
    @include respond(laptop) {
        padding-bottom: 0rem;
    }
}
.header {
    &__logo {
        @include flexMixin(null, center);
        font-size: clamp(1rem, 1vw, 1.6rem);
        h1 {
            color: #9098b1;
            padding-left: 0.5rem;
        }
    }

    &__top {
        @include flexMixin(space-between, center);
        width: 95%;
        margin: 1rem auto;
    }

    .header__top-center {
        visibility: hidden;
        display: none;
        background-color: white;
        border: 1px solid #dedfe2;
        // height: clamp(5vh, 3vh, 5vh);
        width: 50%;
        margin: auto;
        border-radius: 2rem;
        justify-content: center;

        li {
            color: $light-purple;
            padding: 0.5rem 1rem;
        }

        li:hover {
            color: $purple;
        }

        li:active {
            color: $purple;
        }

        @include respond(laptop) {
            visibility: visible;
            display: flex;
        }
    }

    .header__top-center:hover {
        border-color: $light-purple;
    }

    &__bottom {
        @include flexMixin(space-between, center);
        width: 95%;
        margin: auto;
        padding-bottom: 2rem;

        @include respond(laptop) {
            height: 0;
            display: none;
            margin: 0;
            visibility: hidden;
            display: none;
        }

        &_left {
            @include flexMixin(null, center, null);
            background-color: white;
            border: 1px solid #dedfe2;
            height: 33px;
            width: 57%;
            border-radius: 4px;
            padding-left: 5px;
            li {
                color: $purple;
                padding: 0 0.5rem;
            }

            @include respond(laptop) {
                visibility: hidden;
                display: none;
            }
        }

        &_right {
            @include flexMixin(space-between, center);
            width: 37%;
            font-size: clamp(2.5rem, 2.2vw, 4.3rem);

            li {
                color: $dark-purple;
            }

            li:hover {
                color: $light-purple;
            }

            li:active {
                color: $purple;
            }
            @include respond(laptop) {
                visibility: hidden;
                display: none;
            }
        }
    }

    .header__icons-desktop {
        visibility: hidden;
        display: none;
        margin: auto 0;
        @include flexMixin(space-between, center);
        width: 23%;
        font-size: clamp(2.5rem, 2.1vw, 3.8rem);

        li {
            color: $dark-purple;
        }

        li:hover {
            color: $light-purple;
        }

        li:active {
            color: $purple;
        }
        @include respond(laptop) {
            visibility: visible;
            display: flex;
        }

        .user__icon {
            font-size: clamp(2.7rem, 2.6vw, 4rem);
        }
    }

    &__user-icon {
        @include flexMixin(flex-end, center);
        flex: 0.75;
        position: relative;
        width: 100%;
        cursor: pointer;
        color: $dark-purple;
        font-size: clamp(1.6rem, 1.6vw, 2rem);

        li:hover {
            color: $light-purple;
        }

        li:active {
            color: $purple;
        }

        @include respond(laptop) {
            visibility: hidden;
            display: none;
        }

        /* COMMENTED THIS OUT AND USED FONT AWESOME ICONS
        svg {
            &:first-child {
                position: absolute;
                right: 0;
                top: -3px;
            }
            &:last-child {
                position: absolute;
                right: 6px;
                top: 3px;
            }
        }*/
    }

    &__search-form {
        @include flexMixin(space-between);
        width: 90%;
        display: flex;
        align-items: center;
        input {
            width: 100%;
            border: none;
            outline: none;
            font-size: clamp(1.5rem, 1vw, 2rem);
            opacity: 0.4;
            padding: 0.8rem 0.6rem;
        }

        @include respond(laptop) {
            display: flex;
            font-size: clamp(1.5rem, 1.6vw, 2.3rem);
            padding: 0 1rem 0.3rem 1rem;
        }
    }
    &__search-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#user-icon {
    cursor: pointer;
}
#user-info {
    position: absolute;
    top: 28px;
    right: -10px;
    background: #b5b8c2;
    border-radius: 3px;
    min-height: 10vh;
    display: none;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    ul {
        li {
            padding: 3px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            i {
                padding-right: 5px;
            }
        }
        li:last-child {
            width: 60%;
            border-radius: 20px;
            margin: auto;
            margin-top: 10px;
            background-color: #a88da6;
            display: block;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
            a {
                color: whitesmoke;
            }
            &:hover {
                background: #ad9fac;
            }
        }
    }
}
.d-block {
    display: block !important;
}
