.cartHeadermobile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  li {
    margin-left: 1.8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    line-height: 1.7;
    font-size: 20px;
    color: $dark-blue-2;
    float: left;
  }
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 0.3rem solid $light-blue;
  width: 100%;
}

.cartHeader {
  background: $white;

  ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    visibility: hidden;
  }

  li {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    line-height: 1.7;
    font-size: 20px;
    text-transform: uppercase;
  }
  @include respond(desktop) {
    visibility: visible;
  }
}

.item-box-1,
.item-box-2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-basis: 10rem;
  border: 0.3rem solid $light-blue;
  border-radius: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 3rem;
  padding: 2.2rem;

  .img-wrapper img {
    height: 3rem;
    border-radius: 1rem;
  }
}

/*Hidden for desktop*/
.item-details {
  visibility: hidden;
  .itemName h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    line-height: 1.7;
    font-size: 1rem;
    visibility: hidden;
  }

  li {
    visibility: hidden;
  }
  @include respond(desktop) {
    visibility: visible;
  }
}

.btn {
  display: flex;
  flex-wrap: wrap;

  flex-basis: 10rem;
}

.checkout-container-mobile div {
  border: 0.3rem solid $light-blue;
  border-radius: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 3rem;
  padding: 2.2rem;
  width: 100%;
}
.box-2 {
  display: flex;
  visibility: hidden;
}

.checkout-container-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  visibility: hidden;

  .checkout-container-1 div {
    border: 0.3rem solid $light-blue;
    border-radius: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 3rem;
    padding: 2.2rem;
  }

  .btn {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 10rem;
  }

  @include respond(desktop) {
    visibility: visible;
  }
}

/*
  li {
    a {
      @include respond(tablet) {
        margin: 0 auto;
      }
    }
  }
}

@include respond(tablet) {
  background: chartreuse;
}

@include respond(desktop) {
  background-color: cyan;
}
*/
