#router {
    padding-top: 12vh;
}

.cartHeader__mobile {
    display: flex;
    border-bottom: 0.3rem solid $light-blue;
    margin: 4rem auto 0 auto;
    height: 100%;

    h3 {
        display: flex;
        justify-content: flex-start;
        padding: 2rem;
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        line-height: 1.7;
        font-size: clamp(2rem, 4.5vw, 4.5rem);
        color: $dark-blue-2;

        @include respond(tablet) {
            padding-top: 4rem;
        }
    }

    @include respond(laptop) {
        visibility: hidden;
        display: none;
    }
}

.cartHeader {
    background: $white;

    ul {
        visibility: hidden;
        display: none;
        align-items: center;
        padding: 1.5rem 5%;
        align-items: center;
        justify-content: center;
        margin: 7.5rem auto 2rem auto;
        height: 100%;
        border-bottom: 0.3rem solid $light-blue;
        width: 100%;

        @include respond(laptop) {
            visibility: visible;
            display: flex;
        }

        @include respond(huge-desktop) {
            margin: 9rem auto 2rem auto;
        }
    }

    li {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        line-height: 1.7;
        font-size: clamp(2.3rem, 2vw, 4rem);
        text-transform: uppercase;
    }

    .cartHeader__product {
        visibility: hidden;
        display: none;
        width: 30%;
        align-items: flex-start;
        justify-content: center;

        @include respond(laptop) {
            visibility: visible;
            display: flex;
        }
    }
    .cartHeader__price {
        visibility: hidden;
        display: none;
        width: 23.33%;
        align-items: center;
        justify-content: center;

        @include respond(laptop) {
            visibility: visible;
            display: flex;
        }
    }

    .cartHeader__qty {
        visibility: hidden;
        display: none;
        width: 23.33%;
        align-items: center;
        justify-content: center;

        @include respond(laptop) {
            visibility: visible;
            display: flex;
        }
    }

    .cartHeader__unit-price {
        visibility: hidden;
        display: none;
        width: 23.33%;
        align-items: center;
        justify-content: center;

        @include respond(laptop) {
            visibility: visible;
            display: flex;
        }
    }
}

.item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 2rem;

    .item__mobile {
        display: flex;
        margin: 2rem auto;
        flex-direction: row;
        border: 0.3rem solid $light-blue;
        border-radius: 1rem;

        @include respond(laptop) {
            visibility: hidden;
            display: none;
        }

        .img-wrapper a {
            display: flex;
        }

        .img-wrapper img {
            display: flex;
            justify-content: space-around;
            width: 100%;
            max-width: 57rem;
            border-radius: 1.5rem;
            padding: clamp(1rem, 2vw, 2.5rem);
        }

        .item__mobile__details {
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            width: 100%;
            max-width: 57rem;

            h3 {
                font-family: "Poppins", sans-serif;
                font-weight: 900;
                line-height: 1.7;
                font-size: clamp(1rem, 3.3vw, 3.5rem);
                color: $dark-blue-2;
            }

            h5 {
                font-family: "Poppins", sans-serif;
                font-weight: 900;
                line-height: 1.7;
                font-size: clamp(1rem, 3.3vw, 3.5rem);
                color: $light-purple;
            }
        }

        .item__icons__list {
            display: flex;
            flex-direction: column;

            .item__icons1 {
                display: flex;
                justify-content: space-evenly;
                flex-direction: row;
                padding: 1.5rem 0;
                width: 100%;
                max-width: 57rem;
                font-size: clamp(1rem, 3.3vw, 2.5rem);

                @include respond(tablet) {
                    padding: 2rem 0;
                }
                .fa-heart {
                    color: $dark-purple;
                }

                .fa-heart:link {
                    color: $dark-purple;
                }

                .fa-heart:visited {
                    color: $light-red;
                }

                .fa-heart:hover {
                    color: $light-red;
                }

                .fa-heart:active {
                    color: $light-red;
                }

                .fa-trash {
                    color: $dark-purple;
                }

                .fa-trash:link {
                    color: $dark-purple;
                }

                .fa-trash:visited {
                    color: $dark-gray;
                }

                .fa-trash:hover {
                    color: $dark-gray;
                }

                .fa-trash:active {
                    color: $dark-gray;
                }
            }

            .item__icons2 {
                display: flex;
                justify-content: space-around;
                padding: 1.5rem;

                @include respond(tablet) {
                    padding: 4rem 2rem;
                }

                form {
                    display: flex;
                }

                .item__icons2 form {
                    border: 0.3rem solid $light-blue;
                    border-radius: 1rem;
                    font-size: clamp(0.8rem, 3.3vw, 2rem);
                }
                .minus {
                    width: 2.5rem;
                    height: 2.5rem;
                    font-size: clamp(0.8rem, 3.3vw, 2rem);
                    color: $gray;
                    text-align: center;
                    background-color: $white;
                    border: 0.3rem solid $light-blue;
                    border-radius: 0.4rem;

                    @include respond(tablet) {
                        width: 5.5rem;
                        height: 5.5rem;
                    }
                }
                #quantity {
                    width: 2.5rem;
                    height: 2.5rem;
                    font-size: clamp(0.8rem, 3.3vw, 2rem);
                    background-color: $light-blue;
                    color: $gray;
                    text-align: center;
                    background-color: $white;
                    border: 0.3rem solid $light-blue;
                    border-radius: 0.4rem;

                    @include respond(tablet) {
                        width: 5.5rem;
                        height: 5.5rem;
                    }
                }
                .plus {
                    width: 2.5rem;
                    height: 2.5rem;
                    font-size: clamp(0.8rem, 3.3vw, 2rem);
                    color: $gray;
                    text-align: center;
                    background-color: $white;
                    border: 0.3rem solid $light-blue;
                    border-radius: 0.5rem;

                    @include respond(tablet) {
                        width: 5.5rem;
                        height: 5.5rem;
                    }
                }

                #quantity {
                    background-color: $light-blue;
                    border-color: 0.3rem solid pink;
                }
                /* Chrome, Safari, Edge, Opera */
                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                /* Firefox */
                input[type="number"] {
                    -moz-appearance: textfield;
                }
            }
        }
    }

    .checkout__container {
        margin: 2rem auto;
        border: 0.3rem solid $light-blue;
        border-radius: 1rem;
        width: 100%;
        max-width: 100%;

        @include respond(laptop) {
            visibility: hidden;
            display: none;
        }

        .checkout__container__mobile {
            display: flex;
            flex-direction: column;
            padding: 2.5rem;
            width: 100%;
            max-width: 100%;

            @include respond(laptop) {
                visibility: hidden;
                display: none;
            }

            .checkout__section__mobile-1 {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border-bottom: 0.4rem dashed $light-blue;
                width: 100%;
                max-width: 100%;

                .checkout-row-1 {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 100%;
                    max-width: 100%;

                    li {
                        justify-content: space-between;
                        font-family: "Poppins", sans-serif;
                        line-height: 1.7;
                        color: $dark-purple;
                        padding-bottom: 1rem;
                        width: 100%;
                        max-width: 100%;
                        font-size: clamp(0.8rem, 3.3vw, 2.5rem);
                    }

                    .right {
                        justify-content: flex-end;
                        text-align: right;
                    }
                }
                .checkout-row-2 {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 100%;
                    max-width: 100%;

                    li {
                        justify-content: space-between;
                        font-family: "Poppins", sans-serif;
                        line-height: 1.7;
                        color: $dark-purple;
                        padding-bottom: 1rem;
                        width: 100%;
                        max-width: 100%;
                        font-size: clamp(1.2rem, 3.3vw, 2.5rem);
                    }

                    .right {
                        justify-content: flex-end;
                        text-align: right;
                    }
                }
            }

            .checkout-row-3 {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                max-width: 100%;

                li {
                    justify-content: space-between;
                    font-family: "Poppins", sans-serif;
                    line-height: 1.7;
                    color: $dark-purple;
                    padding-bottom: 1rem;
                    width: 100%;
                    max-width: 100%;
                    font-size: clamp(1.2rem, 3.3vw, 2.5rem);
                }

                .right {
                    justify-content: flex-end;
                    text-align: right;
                }
            }
        }

        .checkout__section__mobile-2 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-top: 1rem;
            width: 100%;
            max-width: 100%;

            .checkout-row-4 {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                max-width: 100%;

                li {
                    justify-content: space-between;
                    font-family: "Poppins", sans-serif;
                    font-size: 1.3rem;
                    line-height: 1.7;
                    color: $dark-purple;
                    width: 100%;
                    max-width: 100%;
                    font-size: clamp(1.2rem, 3.5vw, 2.8rem);
                    @include respond(tablet) {
                        font-size: 1.8rem;
                    }
                }

                #total {
                    justify-content: space-between;
                    font-family: "Poppins", sans-serif;
                    font-weight: 800;
                    line-height: 1.7;
                    color: $dark-blue;
                    width: 100%;
                    max-width: 100%;
                    font-size: clamp(1.5rem, 3.5vw, 2.8rem);
                }

                #amtTotal {
                    justify-content: space-between;
                    font-family: "Poppins", sans-serif;
                    font-weight: 800;
                    line-height: 1.7;
                    color: $light-purple;
                    width: 100%;
                    max-width: 100%;
                    font-size: clamp(1.5rem, 3.5vw, 2.8rem);
                    justify-content: flex-end;
                    text-align: right;
                }
            }
        }

        .checkout__mobile__btn {
            display: flex;
            justify-content: space-around;
            padding: 2.5rem;
            width: 100%;
            max-width: 100%;

            .btn {
                border-radius: 1rem;
                padding: 0.5rem;
                width: 100%;
                max-width: 80%;
            }
            a {
                width: 100%;
                max-width: 80%;
                text-align: center;
                font-size: clamp(1.5rem, 3.5vw, 4rem);
                font-weight: 900;
                line-height: 1.7;
                min-width: 10rem;
                max-width: 35rem;
            }
        }
        .checkout-btn a:hover {
            box-shadow: 0 5px 5px 0 #00000030;
        }
    }

    .item__desktop {
        visibility: hidden;
        display: none;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
        margin: 2rem auto;
        border-bottom: 0.3rem solid $light-blue;
        padding-bottom: 5rem;
        width: 100%;
        max-width: 90%;

        @include respond(laptop) {
            visibility: visible;
            display: flex;
        }

        &__icon a {
            display: flex;
            justify-content: center;
            align-items: center;
            color: $light-red;
            background-color: $light-red-1;
            border-radius: 50%;
            width: 2.5rem;
            height: 2.5rem;
            margin: 1rem auto;

            @include respond(desktop) {
                margin: 1.3rem auto;
            }
        }

        &__icon a:hover {
            font-size: 1.3rem;
            background-color: $light-red-1;
            width: 3rem;
            height: 3rem;
        }

        .item__desktop__left {
            visibility: hidden;
            display: none;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: flex-start;
            width: 30%;
            text-align: center;

            @include respond(laptop) {
                visibility: visible;
                display: flex;
            }

            .item__desktop__img-wrapper img {
                display: flex;
                justify-content: center;
                width: 30rem;
                border-radius: 1.5rem;
                padding: 2rem;

                @include respond(desktop) {
                    width: 33.5rem;
                }

                @include respond(huge-desktop) {
                    width: 35.5rem;
                }
            }

            h3 {
                display: flex;
                font-family: "Poppins", sans-serif;
                font-weight: 300;
                line-height: 1.7;
                font-size: clamp(1rem, 2vw, 3.5rem);
                color: $purple;
                justify-content: center;
                text-align: center;
                max-width: 22rem;
                margin: 0 auto;

                @include respond(desktop) {
                    width: 100%;
                    max-width: 30rem;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .item__desktop__right {
            visibility: hidden;
            display: none;
            flex-direction: row;
            justify-content: space-evenly;
            margin: 10rem auto;
            width: 20%;

            @include respond(laptop) {
                visibility: visible;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }

            h3 {
                font-family: "Poppins", sans-serif;
                font-weight: 300;
                line-height: 1.7;
                font-size: clamp(1rem, 2.5vw, 4.8rem);
                color: $black;
                padding: 0 2rem;
                justify-content: space-evenly;
            }

            form {
                display: flex;
                padding: 0 3rem;
                font-size: clamp(0.8rem, 3.3vw, 2rem);
                margin: 0.5rem auto;

                .minus {
                    width: 5rem;
                    height: 5rem;
                    font-size: clamp(0.8rem, 3.3vw, 2rem);
                    color: $black;
                    text-align: center;
                    background-color: $white;
                    border: 0.2rem solid $light-blue;
                    border-radius: 0.4rem;
                }

                .minus:hover {
                    background-color: $light-purple;
                    border: 0.1rem solid $purple;
                }

                #quantity {
                    width: 5rem;
                    height: 5rem;
                    font-size: clamp(0.8rem, 3.3vw, 2rem);
                    background-color: $light-blue;
                    color: $gray;
                    text-align: center;
                    background-color: $white;
                    border: 0.2rem solid $light-blue;
                    border-radius: 0.4rem;
                }

                .plus {
                    width: 5rem;
                    height: 5rem;
                    font-size: clamp(0.8rem, 3.3vw, 2rem);
                    color: $gray;
                    text-align: center;
                    background-color: $white;
                    border: 0.2rem solid $light-blue;
                    border-radius: 0.5rem;
                }

                .plus:hover {
                    background-color: $light-purple;
                    border: 0.1rem solid $purple;
                }

                #quantity {
                    background-color: $light-blue;
                    border-color: 0.3rem solid $purple;
                }

                /* Chrome, Safari, Edge, Opera */
                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                /* Firefox */
                input[type="number"] {
                    -moz-appearance: textfield;
                }
            }
        }
    }

    .checkout__container__desktop {
        visibility: hidden;
        display: none;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        max-width: 40%;
        margin: 5rem auto;

        @include respond(laptop) {
            visibility: visible;
            display: flex;
        }

        .checkout__section__desktop-1 {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-bottom: 0.2rem solid $light-blue;
            width: 100%;
            max-width: 100%;

            .checkout-row-1 {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                max-width: 100%;

                li {
                    justify-content: space-between;
                    font-family: "Poppins", sans-serif;
                    line-height: 1.7;
                    font-weight: 100;
                    padding-bottom: 1rem;
                    width: 100%;
                    max-width: 100%;
                    font-size: clamp(0.8rem, 1.5vw, 2.5rem);
                }
            }
            .checkout-row-2 {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                max-width: 100%;

                li {
                    justify-content: space-between;
                    font-family: "Poppins", sans-serif;
                    line-height: 1.7;
                    font-weight: 100;
                    padding-bottom: 1rem;
                    width: 100%;
                    max-width: 100%;
                    font-size: clamp(1.2rem, 1.5vw, 2.5rem);
                }
            }

            .right {
                justify-content: flex-end;
                text-align: right;
            }
        }

        .checkout__section__desktop-2 {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            max-width: 100%;
            padding-bottom: 3rem;

            .checkout-row-3 {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                max-width: 100%;

                li {
                    justify-content: space-between;
                    font-family: "Poppins", sans-serif;
                    line-height: 1.7;
                    font-weight: 500;
                    padding-top: 1.5rem;
                    width: 100%;
                    max-width: 100%;
                    font-size: clamp(0.8rem, 3.3vw, 2.5rem);
                    text-transform: uppercase;
                }

                .right {
                    justify-content: flex-end;
                    text-align: right;
                }
            }
        }

        .checkout__desktop__btn {
            display: flex;

            padding: 1.5rem;
            width: 100%;
            max-width: 100%;

            .btn {
                border-radius: 1rem;
                padding: 0.5rem;
                width: 100%;
                max-width: 100%;
            }
            a {
                width: 100%;
                max-width: 100%;
                text-align: center;
                font-size: clamp(1.5rem, 2.5vw, 4rem);

                line-height: 1.7;
                min-width: 10rem;
                max-width: 35rem;
            }
        }
        .checkout-btn a:hover {
            box-shadow: 0 5px 5px 0 #00000030;
        }
    }
}
