// Make sure the error card is in center of the page and is responsive
@import "../abstracts/variables";
@import "../abstracts/mixins";


.error404{
    
    @include widthHeight(100%,80vh);
    @include flexMixin(center,center,column);

    &__errmsg{
        padding: 3rem;
        height: 40rem;
        border-radius: 2rem;
        box-shadow: 3px 3px 5px 5px #ccc;
        
   
    @include flexMixin(center,center,column);
    font-style: Montserrat;
    
        &__404{
        font-style  : Nunito;
        font-weight: bold;
        font-size: 5rem;
        line-height: 6.8125rem;
        text-align: center;
        }

        &__msg{
            width:35rem;
            line-height: 2.75rem;
            font-size: 2.25rem;
            text-align: center;
            font-weight:600;
            color:$dark-gray;
            margin-bottom: 4.09375rem;
        

        @include respond(desktop){
            width:47rem;
        }
    }
    
    
    
    a{
        @include flexMixin(center,center);
        @include widthHeight(26.5rem,6.125rem);

        background: $light-purple-1;
        border-radius: 0.3125rem;
        color:$white;
        font-size:2.25rem;

         @include respond(desktop){
            @include widthHeight(30.625rem,6.125rem);

        }
    }
    }
}