*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 70%;
}

body {
  box-sizing: border-box;
  padding: 2rem;
  background-color: $background;
}
