*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
  text-decoration: none; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.header {
  padding: 2rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .header__logo {
    font-size: 2rem; }
  .header__list {
    display: flex;
    align-items: center; }
  .header__item {
    display: block;
    padding: 0.5rem 1rem; }
  .header__link {
    font-size: 1.6rem;
    text-transform: uppercase; }
